* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 100%;
}

/* Navigation Bar */
.nav_bar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgba( 0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.links {
    list-style-type: none;
    margin: 8px;
    padding: 10px 10px;
    display: flex;
}

.links li a {
    text-decoration: none;
    color: inherit;
    padding: 12px 18px;
    letter-spacing: 3px;
}

.links li a:hover {
    background-color: rgb(185, 185, 185);
}

span.br {
    font-weight: bold;
}

/* Header styling */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header img {
    width: 100%;
    max-width: 1500px;
    height: auto;
}

div.br {
    position: absolute;
    font-size: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin-top: 25px;
}

.br-center {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba( 0, 0, 0, 0.75);
    padding: 15px;
}

/* Styling for the headings of each section */
.content {
    width: 100%;
    /* max-width: 1500px;
    margin: auto; */
    padding: 0px 42px;
}

.section-title {
    margin: 40px 0px 30px;
    padding: 10px 0px;
}

.section-title h2 {
    padding: 15px 0px;
    font-weight: 300;
}

hr {
    opacity: 25%;
}

/* Styling for the projects section */
.projects-visual {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.project {
    position: relative;
}

.project-name {
    display: inline;
    color: rgb(255, 255, 255);
    background-color: rgb( 0, 0, 0);
    padding: 10px;
    position: absolute;
}

/* The about section */
.about-content {
    margin-bottom: 50px;
}

.contacts-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
}
.contact-individual h2 {
    font-weight: 100;
}

.contact-individual * {
    margin-bottom: 15px;
}

.contact-individual p:nth-child(3) {
    color: rgb(175, 175, 175);
    font-size: 16px;
}

.contact-individual button {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
    color: rgb( 0, 0, 0);
    background-color: rgb(240, 240, 240);
    text-transform: capitalize;
}

.contact-individual button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

/* contact Section */
.get-in-touch {
    margin-bottom: 10px;
}

.get-in-touch p {
    background-color: rgb(200, 200, 200);
    display: inline;
}

/* Form Styling */
form * {
    margin-bottom: 16px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    margin-top: 16px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 16px;
}

/* Styling for the about section */
.about p {
    margin: 10px 0px;
}

/* Location */
.location img {
    margin-bottom: 5px;
}

/* Footer */
footer {
    color: rgb(255, 255, 255);
    background-color: rgb( 0, 0, 0);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-message a{
    color: inherit;
}

@media screen and (max-width: 600px) {
    .other-links {
        display: none;
    }
    
    .hide {
        display: none;
    }
}